h1 {
  background-color: rgb(231, 231, 231);
}
.card {
  margin: auto;
  padding: 2%;
}

body {
  display: flex;
  text-align: center;
}

input {
  width: 30px;
  padding: 1%;
  font-size: larger;
  text-align: center;
  margin-left: 2%;
}

#displayWord {
  font-size: xx-large;
}
