.btn{
  border: none;
  background-color: rgb(206, 205, 205);
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-left: 8px;
  font-size: 10px;
  cursor: pointer;
}

.gift-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #a2a0a0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}